.bright-text {
	font-family: "Gotham Medium","Gotham";
	color: white;
}

.face-image {
  width: 100%;
  min-height: 48px;
  min-width: 48px;
  max-height: 48px;
  max-width: 48px;
}

.summary-title {
  font-size: 14pt;
  font-weight: bold;
}
.summary-host {
  color: gray;
}
.summary-date {
  text-transform: uppercase;  
  color: gray;
}
.section-title {
  text-transform: uppercase;  
  font-weight: bold;
}
.header-image {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 100%;
}

.di-pad.row {
}

.di-pad {
}

@media (max-width: 767px) {
	.di-pad-xs-l{
	  padding-left: 45px;
	}
	.di-pad-xs-r{
	  padding-left: 45px;
	}
	.di-hidden-xs{
	  visibility: hidden;
	  display: none;
	}
}
@media (min-width: 768px) {
	.di-pad-sm-l{
	  padding-left: 45px;
	}
	.di-pad-sm-r{
	  padding-left: 10px;
	}
	.di-hidden-sm{
	  visibility: hidden;
	  display: none;
	}
}

.description-text {
  margin-right: 10px;
  word-wrap: break-word;
}


.btn-primary {
	background-color: green;
}

.di-banner {
	background-repeat: no-repeat;
	background-size: 100%, cover;
	background-position: center;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/divein-mobile.png);
}

.change-button {
    width: 100%;
	background-color: #00AF3F;
}