<!DOCTYPE html>
<html lang="en" ng-app='diveinapp'>
<head>
	<title>DiveIn</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Dive-In Invitation">
    <meta name="author" content="Dive-In">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/event.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" integrity="sha384-V6/dyDFv85/V/Ktq3ez5B80/c9ZY7jV9c/319rqwNOz3h9CIPdd2Eve0UQBYMMr/" crossorigin="anonymous"></script>
	<script src="scripts/diveinapp.js"></script>

</head>
<body ng-controller="diveinappc">
<div id="fb-root"></div>
<!-- facebook login button initialization -->
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '1847420518820747',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });
}
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- login form -->
<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div id="login-form" class="container-fluid">
					<form class="form-signin" action="/api/v1/user/signup" method="POST">
						<h2 class="form-signin-heading">Sign in</h2>
						<label for="inputEmail" class="sr-only">Email address</label>
						<input ng-model="inputEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
						<label for="inputPassword" class="sr-only">Password</label>
						<input ng-model="inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
						<div class="checkbox">
						  <label>
							<input type="checkbox" value="remember-me"> Remember me
						  </label>
						</div>
						<button ng-click="login(inputEmail,inputPassword)" class="btn btn-lg btn-primary btn-block" type="button" >Sign in</button>

						<a class="btn btn-block btn-social btn-facebook" ng-click="loginfb()">
								<span class="fa fa-facebook"></span> Sign in  with Facebook
						</a>
						<h3>{{loginErrorMessage}}</h3>
					</form>
					<a href="#" ng-click="showRegister()">I don't have an account yet</a>
				</div> 
			</div>
		</div>
	</div>
</div>
<!-- registration form -->
<div class="modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div id="login-form" class="container-fluid">
					<form class="form-signin" action="/api/v1/user/signup" method="POST">
						<h2 class="form-signin-heading">Sign up</h2>
						<label for="inputEmail" class="sr-only">Email address</label>
						<input ng-model="inputEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
						<label for="inputPassword" class="sr-only">Password</label>
						<input ng-model="inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
						<button ng-click="register(inputEmail,inputPassword)" type="button" class="btn btn-lg btn-primary btn-block">Register</button>
						<a class="btn btn-block btn-social btn-facebook" ng-click="registerfb()">
								<span class="fa fa-facebook"></span> Sign up  with Facebook
						</a>
						<h3>{{loginErrorMessage}}</h3>
					</form>
					<a href="#" ng-click="showLogin()">I already have an account</a>
				</div> 
			</div>
		</div>
	</div>
</div>
<!-- the events page -->
<div class="container-fluid page-header" id="pageHeader">
	<div class="row">
		<div class="col-xs-6">
			<div class="pull-left" style="width:50%;">
				<img src="img/divein-logo.png" alt="DiveIn" style="float:top; width:100%;"/>
				<h4 class="bright-text text-center" style="margin-top:0px;">DiveIn</h4>
			</div>
		</div>		
		<div class="col-xs-6" >
			<div class="pull-right">
				<a href="http://dive-in.co"><span class="bright-text">HOME</span></a>
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#registerModal">SIGN UP</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h1 class="bright-text text-center">{{event.eventName}}</h1>
		</div>
	</div>
</div>

<div class="container-fluid" ng-show="event.eventId==undefined">
	<div class="well">
		<h3>{{errorMessage}}</h3>
	</div>
</div>

<div class="container-fluid"  ng-show="event.eventId!=undefined" >
	<div class="row di-pad">
			<div class="pull-left" style="max-width:33%;">
				<img id="hostThumbnail" src="img/head.png" class="face-image" style="float:top;"/>
				<p class="face-title text-center">
					{{hostName}} invited you
				</p>
			</div>
			<p class="description-text">{{event.eventDescription}}</p>
	</div>

	<div class="row well di-pad">
		<div class="col-xs-9">
			Venue: {{event.venueName}}
			<p>
			When: {{event.eventDate | date:'EEEE, MMMM d h:mm a' }}
		</div>
		<div class="col-xs-3 pull-right">
			<div >
				<button ng-click="attend()" ng-disabled="changeDisabled" type="button" 
				  class="pull-right btn btn-primary btn-lg" >{{attending?"I'm out":"I'm in"}}</button>
			</div>
			<div class="pull-right">
				{{message}}
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" >
	<div class="row">
		<div class="col-xs-8">
			<h3 style="margin-top: 0px">What is DiveIn?</h3>
			<p>
			DiveIn is a mobile platform that helps you discover and arrange social activities.  
			Whether it's finding interesting people to go to a concert with or organizing a fulfilling day of 
			volunteering with your friends, DiveIn helps you have the real-live experiences you're looking
			for.
			<p>
			Read our 
			<a href="/terms.html">Terms of service</a>
			and our 
			<a href="/privacy.html">privacy policy</a>.
		</div>
		<div class="col-xs-4" style="padding-left: 0px">
			<img src="img/divein-mobile.png" class="img-responsive"/>
		</div>
	</div>
</div>
</body>
</html>
