<!DOCTYPE html>
<html lang="en" ng-app='diveinapp'>
<head>
	<title>DiveIn</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Dive-In Invitation">
    <meta name="author" content="Dive-In">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/event.css">
	<link rel="icon" href="img/favicon.ico">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" integrity="sha384-V6/dyDFv85/V/Ktq3ez5B80/c9ZY7jV9c/319rqwNOz3h9CIPdd2Eve0UQBYMMr/" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script src="scripts/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="scripts/URI.min.js"></script>

	<script src="scripts/diveinapp.js"></script>
</head>
<body ng-controller="diveinappc">
<div id="fb-root"></div>
<!-- facebook login button initialization -->
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '232302547110547',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });
}
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- login form -->
<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div id="login-form" class="container-fluid">
					<form class="form-signin" action="/api/v1/user/signup" method="POST">
						<h2 class="form-signin-heading">Sign in</h2>
						<label for="inputEmail" class="sr-only">Email address</label>
						<input ng-model="inputEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
						<label for="inputPassword" class="sr-only">Password</label>
						<input ng-model="inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
						<div class="checkbox">
						  <label>
							<input type="checkbox" value="remember-me"> Remember me
						  </label>
						</div>
						<button ng-click="login(inputEmail,inputPassword)" class="btn btn-lg btn-primary btn-block" type="button" >Sign in</button>

						<a class="btn btn-block btn-social btn-facebook" ng-click="loginfb()">
								<span class="fa fa-facebook"></span> Sign in  with Facebook
						</a>
						<h3>{{loginErrorMessage}}</h3>
					</form>
					<a href="#" ng-click="showRegister()">I don't have an account yet</a>
				</div> 
			</div>
		</div>
	</div>
</div>
<!-- registration form -->
<div class="modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div id="login-form" class="container-fluid">
					<form class="form-signin" action="/api/v1/user/signup" method="POST">
						<h2 class="form-signin-heading">Sign up</h2>
						<label for="inputFirstName" class="sr-only">First name</label>
						<input ng-model="inputFirstName" type="text" id="inputFirstName" class="form-control" placeholder="First name" required autofocus>
						<label for="inputLastName" class="sr-only">Last name</label>
						<input ng-model="inputLastName" type="text" id="inputLastName" class="form-control" placeholder="Last name" required>

						<label for="inputDOB" class="sr-only">Date of birth</label>
						<div class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="longDate" ng-model="inputDOB" is-open="datePicker.opened" 
								datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date of birth" ng-focus="openDatePicker()"
								ng-max="initDate"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>	
						</div>		

						<label for="inputEmail" class="sr-only">Email address</label>
						<input ng-model="inputEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
						<label for="inputPassword" class="sr-only">Password</label>
						<input ng-model="inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
						<button ng-click="register(inputFirstName,inputLastName,inputDOB,inputEmail,inputPassword)" type="button" class="btn btn-lg btn-primary btn-block">Register</button>
						<a class="btn btn-block btn-social btn-facebook" ng-click="registerfb()">
								<span class="fa fa-facebook"></span> Sign up  with Facebook
						</a>
						<h3>{{loginErrorMessage}}</h3>
					</form>
					<a href="#" ng-click="showLogin()">I already have an account</a>
				</div> 
			</div>
		</div>
	</div>
</div>
<div class="container"  style="max-width:800px; padding-left: 0px; padding-right: 0px;">
<!-- the events page -->
<div class="container-fluid page-header" id="pageHeader">
	<div class="row">
		<div class="col-xs-3">
			<div class="pull-left">
				<img src="img/divein-logo.png" alt="DiveIn" style="float:top; width:100%; max-width:80pt;"/>
				<h4 class="bright-text text-center" style="margin-top:0px;">DiveIn</h4>
			</div>
		</div>		
		<div class="col-xs-9" >
			<div class="pull-right">
				<a href="http://dive-in.co"><span class="bright-text">HOME</span></a>
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#registerModal">SIGN UP</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h1 class="bright-text text-center">{{event.eventName}}&nbsp;</h1>
		</div>
	</div>
</div>

<!--<div class="container-fluid" ng-show="errorMessage != ''">
	<div class="well" ng-bind="errorMessage">
	</div>
</div>
-->
<div class="container-fluid" ng-show="registerAge">
	<div class="well">
		We're sorry, but you must be at least 18 years old to use DiveIn. For questions and concerns please visit <a href='http://www.dive-in.co'>www.dive-in.co</a> or contact us at <a href='mailto:support@dive-in.co'>support@dive-in.co</a>
	</div>	
</div>
<div class="container-fluid" ng-show="errorMessage">
	<div class="well">
		{{errorMessage}}
	</div>	
</div>

<div class="container-fluid"  ng-show="event.eventId!=undefined" >
	<div class="row di-pad" style="margin-left: 0px;">
		<div class="pull-left">
			<img id="hostThumbnail" src="img/head.png" class="face-image" style="float:top;"/>
			<span class="face-title">
			by {{hostName}}
			</span>
		</div>
	</div>
	<div class="row di-pad" style="margin-left: 0px;">
		<div class="pull-left">
			<p class="description-text">{{event.eventDescription}}&nbsp;</p>
		</div>
	</div>

	<div class="row well di-pad" style="position:relative">
		<div class="col-xs-12">
			<p class="text-uppercase">Date and Time</p>
			<p>{{event.eventDate | date:'EEEE, MMMM d, h:mm a' }}&mdash;{{event.eventToDate | date:'EEEE, MMMM d, h:mm a' }}</p>
			<p class="text-uppercase">Location</p>
			{{event.venueName}} 
			<br>
			{{event.address}}
			<br>
<!--			
			<a ng-href="https://www.google.com/maps/preview?q={{event.venueLatitude}},{{event.venueLongitude}}&z=14&t=m&output=embed" target="_blank">Map</a>
-->			
		</div>
		<div class="col-xs-12 text-center" style="margin-top:10px;margin-bottom:5px;">
			<button id="changeButton" ng-click="attend()" ng-disabled="changeDisabled" type="button" 
				ng-class="{'change-button btn btn-lg btn-danger':attending, 'change-button btn btn-lg btn-primary':!attending}">
				{{changeText}}
			</button>
		</div>
		<div id="messageBar" ng-message="messageIsOpen" class="alert-info" style="position:absolute;z-index:100;right:0%;bottom:0%;padding:2px;" role="alert">
			{{message}}
		</div>
	</div>
</div>

<div class="container-fluid" ng-show="isMobile">
Install our <a ng-href="{{event.deepLinkURL}}">mobile app</a>. 
</div>
<div class="container-fluid" >
	<div class="row di-pad">
		<div class="col-xs-12">
			<div class="pull-right" style="position: inline; padding-left: 0px; max-width: 175px;">
				<img src="img/divein-mobile.png" class="img-responsive"/>
			</div>
			<b style="margin-top: 0px">What is DiveIn?</b>
			<p>
			Finally. An app that actually gets you off your phone. From volunteering to hiking, DiveIn helps you plan and participate in all kinds 
			of great activities. Invite your friends or meet new people who share your interests. 
			Now live in the Bay Area.			
			<p>
			Read our 
			<a href="/terms.html">Terms of Service</a>
			and our 
			<a href="/privacy.html">Privacy Policy</a>.
		</div>
	</div>
</div>
</div>
</body>
</html>
