<!DOCTYPE html>
<html lang="en" ng-app='diveinapp'>
<head>
	<title>DiveIn</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Dive-In Invitation">
    <meta name="author" content="Dive-In">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/event.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" integrity="sha384-V6/dyDFv85/V/Ktq3ez5B80/c9ZY7jV9c/319rqwNOz3h9CIPdd2Eve0UQBYMMr/" crossorigin="anonymous"></script>
	<script src="scripts/homePage.js"></script>

</head>
<body ng-controller="diveinappc">
<div id="fb-root"></div>
<!-- facebook login button initialization -->
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '1847420518820747', //'232302547110547',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });
}
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- login form -->
<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div id="login-form" class="container-fluid">
					<form class="form-signin" action="/api/v1/user/signup" method="POST">
						<h2 class="form-signin-heading">Sign in</h2>
						<label for="inputEmail" class="sr-only">Email address</label>
						<input ng-model="inputEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
						<label for="inputPassword" class="sr-only">Password</label>
						<input ng-model="inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
						<div class="checkbox">
						  <label>
							<input type="checkbox" value="remember-me"> Remember me
						  </label>
						</div>
						<button ng-click="login(inputEmail,inputPassword)" class="btn btn-lg btn-primary btn-block" type="button" >Sign in</button>

						<a class="btn btn-block btn-social btn-facebook" ng-click="loginfb()">
								<span class="fa fa-facebook"></span> Sign in  with Facebook
						</a>
						<h3>{{loginErrorMessage}}</h3>
					</form>
				</div> 
			</div>
		</div>
	</div>
</div>
<!-- registration form -->
<div class="modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div id="login-form" class="container-fluid">
					<form class="form-signin" action="/api/v1/user/signup" method="POST">
						<h2 class="form-signin-heading">Sign up</h2>
						<label for="inputEmail" class="sr-only">Email address</label>
						<input ng-model="inputEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
						<label for="inputPassword" class="sr-only">Password</label>
						<input ng-model="inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
						<button ng-click="register(inputEmail,inputPassword)" type="button" class="btn btn-lg btn-primary btn-block">Register</button>
						<a class="btn btn-block btn-social btn-facebook" ng-click="registerfb()">
								<span class="fa fa-facebook"></span> Sign up  with Facebook
						</a>
						<h3>{{loginErrorMessage}}</h3>
					</form>
				</div> 
			</div>
		</div>
	</div>
</div>
<!-- the events page -->
<div class="container-fluid" style="padding-left: 0; padding-right: 0; padding-top: 10px; padding-right: 15px;" id="pageHeader">
	<div class="row">
		<div class="col-xs-6">
			<img src="img/divein-logo.png" alt="DiveIn"  style="width: 33%; float: left;"/>
			<h4 class="bright-text">DiveIn</h4>
		</div>		
		<div class="col-xs-6" >
			<div class="pull-right">
				<a href="http://dive-in.co"><span class="bright-text">HOME</span></a>
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#registerModal">SIGN UP</button>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" >
	<div class="row">
	<p>
	
	<h2>{{events.data[0].title}}</h2>
	<table class="table">
	<tr ng-repeat="ev in events.data[0].list.data">
	<td>
		<img src="{{ev.profileImage}}" style="height: 48px; width: 48px;"/>
	</td>	
	<td>
	{{ev.name}}
	</td>
	<td>
	{{ev.description}}
	</td>
	</tr>
	</table>
	<code class="hidden">
	{{events.data[0].list.data}}
	</code>
	
	
	<h2>{{events.data[1].title}}</h2>
	<table class="table">
	<tr ng-repeat="ev in events.data[1].list.data">
	<td>
	{{ev.eventDate}}
	</td>
	<td>
	{{ev.eventName}}
	</td>
	<td>
	{{ev.venueName}}
	</td>
	
	</tr>
	</table>
	<code class="hidden">
	{{events.data[1].list.data}}
	</code>
	
	
	<h2>{{events.data[2].title}}</h2>
	<table class="table">
	<tr ng-repeat="ev in events.data[2].list.data">
	<td>
	{{ev.eventDate}}
	</td>
	<td>
	{{ev.eventName}}
	</td>
	
	</tr>
	</table>
	<code class="hidden">
	{{events.data[2].list.data}}
	</code>
	
	
	<h2>{{events.data[3].title}}</h2>
	<table class="table">
	<tr ng-repeat="ev in events.data[3].list.data">
	<td>
	{{ev.orgName}}
	</td>
	<td>
	{{ev.description}}
	</td>
	
	</tr>
	</table>
	<code class="hidden">
	{{events.data[3].list.data}}
	</code>
	
	
	</div>
</div>
</body>
</html>
